.chocolates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -8px;
  }
  
  .chocolate {
    border: 1px solid #ccc;
    margin: 8px;
    flex: 0 0 calc(12.5% - 16px); 
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
  }
  
  .chocolate .chocolate-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
  }
  
